nav.color.navbar.navbar-inverse.navbar-fixed-bottom
    .container
        .navbar-header
            img#logo(src='/images/logo.png')
        ul.nav.navbar-nav.pull-right
            li
                a(href='/#/') Home
            li(ng-show='room')
                a(href='/#/rooms') Room Administration
            li
                a(href='/#/search') Search
            li
                a(href='/#/') Contact
            li(ng-show='signout')
                a(href='/#/', ng-click='signOut()') Log Out
            li
                a(ng-href='{{AccountHref}}') {{LoginName}}