doctype html
html(ng-app='Hotel')

    head
        title= title
        script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js')
        script(src='/javascripts/hotel.js')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/main.css')
    body
        block content
        include footer