nav.color.navbar.navbar-inverse.navbar-fixed-top(ng-view='')
    .container
        .navbar-header
            a.navbar-brand(href='/#/')
                b Hotel
        ul.nav.navbar-nav.pull-right
            li
                a(href='/#/') Home
            li(ng-show='room')
                a(href='/#/rooms') Room Administration
            li
                a(href='/#/search') Search
            li
                a(href='contact.html') Contact
            li(ng-show='signout')
                a(href='/#/', ng-click='signOut()') Log Out
            li
                a(ng-href='{{AccountHref}}') {{LoginName}}